*{
	margin: 0 auto;
	font-family: verdana;
}
h1{
	margin-top: 20px;
}
.centrar{
	text-align: center;
}
input{
	border: 1px solid #2069A6;
	display: inline;
	background: #2069A6;
	color: white;
	padding: 5px 20px;
	margin-top: 20px;
	font-size: 18px;
	cursor: pointer;
	margin-right: 5px;
}
input:hover{
	border: 1px solid #2069A6;
	background: white;
	color:#2069A6;
}